{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}"> 

<!DOCTYPE html>
<html>
<head>
    <title>Selery Shop - Kategorie</title>
    <meta charset="UTF-8">
</head>
<body>
    {% include "navbar.html" %}
    <div id="space"></div>

    <header>
        <a href="{% url 'home' %}"><p>Selery Shop</p></a>
    </header>
    
    <div id="space"></div>
    <aside class="products__menu">
        <ul>
            <li>
                SELERY 1
                <ul>
                    <li>
                        SELERY ZWYKLE
                        <ul>
                            <li>RUSKIE</li>
                            <li>POLSKA GUROM</li>
                            <li>ALBANSKIE</li>
                        </ul>
                    </li>
                    <li>
                        SELERY+
                        <ul>
                            <li>AZERBEJDŻAŃSKIE</li>
                            <li>O POANIE Z DUBAJU</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>State of colorade</li>
        </ul>
    </aside>
</body>
</html>