{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}"> 

<!DOCTYPE html>
<html>
<head>
    <title>Selery Pomoc</title>
    <meta charset="UTF-8">
</head>
<body>
    {% include "navbar.html" %}
    <div id="space"></div>
    
    <header>
        <h1 id="SG">Selery Pomoc</h1>
    </header>
    <div id="space"></div>

    <h2>aby uzyskać pomoc, kliknij 1</h2>
    <h2>aby uzyskać pomoc, kliknij 1</h2>
    <h2>aby uzyskać pomoc, kliknij 1</h2>
    <h2>aby uzyskać pomoc, kliknij 1</h2>
    <h2>aby uzyskać pomoc, kliknij 1</h2>
    <h2>aby uzyskać pomoc, kliknij 1</h2>
    <h2>aby uzyskać pomoc, kliknij 1</h2>
    <h2>aby uzyskać pomoc, kliknij 1</h2>
    <h2>aby uzyskać pomoc, kliknij 1</h2>
    <h2>aby uzyskać pomoc, kliknij 1</h2>
    <h2>aby uzyskać pomoc, kliknij 1</h2>
    
</body>
</html>