{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}"> 

<!DOCTYPE html>
<html>
<head>
    <title>Selery Shop - Pomoc</title>
    <meta charset="UTF-8">
</head>
<body>
    {% include "navbar.html" %}
    <div id="space"></div>
    
    <header>
        <h1 id="SG">Selery Pomoc</h1>
    </header>
    <div id="space"></div>


    <div class="PomocDiv">

        <h1>
            <table>
                <tr>
                    <th>Założyciel projektu</th>
                    <th>Główny twórca problemów</th>
                    <th>Gość od CSSa</th>
                </tr>
                <tr>
                    <td>Mateusz Cackowski</td>
                    <td>Mateusz "Messi" Sękowski</td>
                    <td>Wiktor "Postrzelę SIę" Gołębiowski</td>
                </tr>
                <tr>
                    <td><img src="https://i.imgur.com/H3I39b8.png"></td>
                    <td><img src="https://i.imgur.com/vw5Sr1R.jpeg"></td>
                    <td><img src="https://i.imgur.com/AauSFBw.jpeg"></td>
                </tr>
            </table>

        </h1>


        <h2>Aby uzyskać pomoc, zadzwoń pod 573049233</h2>
        
    </div>
    
</body>
</html>