{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}"> 

<!DOCTYPE html>
<html>
<head>
    <title>Selery Shop</title>
    <meta charset="UTF-8">
</head>
<body>
    {% include "navbar.html" %}
    <div id="space"></div>
    
    <header>
        <h1 id="SG">Selery Shop</h1>
    </header>
    <div id="space"></div>

    <div id="main">
        <table>
            {% for product in products %} 
            <!--    <tr>
                    <td>{{ product.Name }}</td>
                    <th> {{ product.Price }}
                        <button>Buy</button>
                    </th>
                </tr> !-->

                <div class="produkty">
                    <div class="produkt">
                        <img src="{{ product.Image_url}}">
                        <h2> {{product.Name}} </h2>
                        <h3> {{product.Price}}
                            <form action="{% url 'help' %}">
                                <button type="submit">Buy</button>
                            </form>
                        </h3>
                    </div>
                </div>


            {% endfor %}
        </table>
    </div>
</body>
</html>