{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}"> 

<!DOCTYPE html>
<html>
<head>
    <title>Selery Shop - {{product.Name}} </title>
    <meta charset="UTF-8">
</head>
<body>
    {% include "navbar.html" %}
    <div id="space"></div>
    
    <header>
        <h1 id="SG">Selery Shop</h1>
    </header>
    <div id="space"></div>

    <div id="main">
        <table>
            {% if product %} 
                <div class="produkty">
                    <div class="produkt">
                        <img src="{{ product.Image_url}}">
                        <h2> {{product.Name}} </h2>
                        <h3> {{product.Price}} PLN</h3>
                        <h4> Opis produktu: <br> {{product.Description}}</h4>
                    </div>
                </div>
            {% endif %}
        </table>
    </div>
</body>
</html>