html {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #716f6f; */
    background-color: transparent;
    width: fixed;
    padding: 1rem 0;
    height: 80px;
    justify-content: center;
    align-self: center;

    p {
        font-size: 60px;
    }

}

body {
    /* background-color: #504e4e; */
    background-image: linear-gradient(to top, black, #504e4e);
}

#space {
    height: 20px;
}

#navbar {
    display: flex;
    font-size: 20px;
    /* background-color: #716f6f; */
    background-color: transparent;
    justify-content:space-evenly;
    width: fixed;
    padding: 1rem 0;
    height: 10px;
    align-items: center;
}

.login_button {
    background-color: transparent;
    color: white;
    border: none;
    outline-style: none;
    cursor: pointer;
}


#main {
    font-size: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

table {
    font-size: 20px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produkty {

    display: flex;
    flex-direction: row;
    /* border: solid 1px white; */
    height: 350px;
    margin: 1%;

    img {
        max-height: 200px;
        max-width: 250px;
        height: auto;
        padding: 20px;
    }

    .produkt {
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }

}

#przycisk {
    width: 20px;
}

.Profile {
    display: flex;
    flex-direction: column;
}

.PomocDiv {
    
    table {
        padding: 200px;
        margin: 90px;
        width: 90%;

        tr, th, td {
            border: 1px solid white;
        }

        img {
            max-width: 70%;
            height: auto;
        }

    }

}

.products__menu {
    display: flex;
    
}

#potd {

    display: flex;
    flex-direction: column;
    align-items: center;
}